anyascii
asgiref
beautifulsoup4
certifi
charset-normalizer
defusedxml
Django>=5.2,<6.0
django-filter
django-modelcluster
django-permissionedforms
django-stubs-ext
django-taggit
django-tasks>=0.7
django-treebeard
djangorestframework
draftjs_exporter
et_xmlfile
filetype
idna
laces
openpyxl
pillow
pillow_heif
psycopg2-binary
python-dotenv
requests
soupsieve
sqlparse
telepath
typing_extensions
urllib3
wagtail>=6.4,<7.0
whitenoise
Willow
