anyascii
asgiref
beautifulsoup4
certifi
charset-normalizer
defusedxml
Django
django-filter
django-modelcluster
django-permissionedforms
django-stubs-ext
django-taggit
django-tasks
django-treebeard
djangorestframework
draftjs_exporter
et_xmlfile
filetype
idna
laces
openpyxl
pillow
pillow_heif
psycopg2-binary
python-dotenv
requests
soupsieve
sqlparse
telepath
typing_extensions
urllib3
wagtail
whitenoise
Willow
