{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container">
  <div class="page-header">
    <div class="page-header__label">Ideas Block</div>
    <h1 class="page-header__title">{{ page.title }}</h1>
    {% if page.intro %}
      <p class="page-header__subtitle">{{ page.intro }}</p>
    {% endif %}
  </div>

  <div class="container--narrow" style="padding-left:0;padding-right:0;">
    <div class="prose">
      {{ page.body|richtext }}
    </div>
  </div>
</div>
{% endblock %}
